{# templates/pages/blog/blogs.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blogs - Bitrader
{% endblock %}

{% block body %}
	<section class="page-header bg--cover" style="background-image:url({{ asset('assets/images/header/1.png') }})">
		<div class="container">
			<div class="page-header__content" data-aos="fade-right" data-aos-duration="1000">
				<h2>Blog - Grid</h2>
				<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Blog - Grid</li>
					</ol>
				</nav>
			</div>
			<div class="page-header__shape">
				<span class="page-header__shape-item page-header__shape-item--1">
					<img src="{{ asset('assets/images/header/2.png') }}" alt="shape-icon">
				</span>
			</div>
		</div>
	</section>

	<div class="blog padding-top padding-bottom section-bg-color">
		<div class="container">
			<div class="blog__wrapper">
				<div class="row g-4">
					{% for blog in blogs %}
						<div class="col-sm-6 col-lg-4">
							{% include 'partials/blog/_card.html.twig' with { blog: blog } %}
						</div>
					{% endfor %}
				</div>
				<div class="paginations" data-aos="fade-up" data-aos-duration="1200">
					<ul class="lab-ul d-flex flex-wrap justify-content-center mb-1">
						{% if blogs.currentPageNumber > 1 %}
							<li>
								<a href="{{ path('blogs', {'page': blogs.currentPageNumber - 1}) }}">
									<i class="fa-solid fa-angle-left me-2"></i>
									Prev
								</a>
							</li>
						{% endif %}

						{% for page in 1..blogs.pageCount %}
							<li>
								<a href="{{ path('blogs', {'page': page}) }}" class="{{ page == blogs.currentPageNumber ? 'active' : '' }}">{{ page }}</a>
							</li>
						{% endfor %}

						{% if blogs.currentPageNumber < blogs.pageCount %}
							<li>
								<a href="{{ path('blogs', {'page': blogs.currentPageNumber + 1}) }}">
									Next
									<i class="fa-solid fa-angle-right ms-2"></i>
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
