{# templates/pages/blog/blogs.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blogs - Bitrader{% endblock %}

{% block body %}
  <section class="page-header bg--cover" style="background-image:url({{ asset('assets/images/header/1.png') }})">
    <div class="container">
      <div class="page-header__content" data-aos="fade-right" data-aos-duration="1000">
        <h2>Blog - Grid</h2>
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog - Grid</li>
          </ol>
        </nav>
      </div>
      <div class="page-header__shape">
        <span class="page-header__shape-item page-header__shape-item--1">
          <img src="{{ asset('assets/images/header/2.png') }}" alt="shape-icon">
        </span>
      </div>
    </div>
  </section>

  <div class="blog padding-top padding-bottom section-bg-color">
    <div class="container">
      <div class="blog__wrapper">
        <div class="row g-4">
          {% for i in 1..9 %}
            <div class="col-sm-6 col-lg-4">
              <div class="blog__item" data-aos="fade-up" data-aos-duration="{{ 800 + loop.index0 * 200 }}">
                <div class="blog__item-inner blog__item-inner--style2">
                  <div class="blog__thumb">
                    <img src="{{ asset('assets/images/blog/' ~ i ~ '.png') }}" alt="blog image">
                  </div>
                  <div class="blog__content">
                    <div class="blog__meta">
                      <span class="blog__meta-tag blog__meta-tag--style{{ i % 2 == 0 ? '2' : '1' }}">{{ ['Forex trading', 'Trading market', 'Investment'][(i - 1) % 3] }}</span>
                    </div>
                    <h5 class="10 style2">
                      <a href="{{ path('blog_details') }}">Blog Post {{ i }}</a>
                    </h5>
                    <p class="mb-15">Lorem ipsum dolor sit amet Iaculis suspendisse semper amet lectus...</p>
                    <div class="blog__writer">
                      <div class="blog__writer-thumb">
                        <img src="{{ asset('assets/images/blog/author/' ~ i ~ '.png') }}" alt="writer">
                      </div>
                      <div class="blog__writer-designation">
                        <p>Author {{ i }}</p>
                        <span>{{ "2023-" ~ (1 + (i % 12)) ~ "-" ~ (10 + i) }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="paginations" data-aos="fade-up" data-aos-duration="1200">
          <ul class="lab-ul d-flex flex-wrap justify-content-center mb-1">
            <li><a href="#"><i class="fa-solid fa-angle-left me-2"></i> Prev</a></li>
            <li><a href="#" class="active">1</a></li>
            <li class="d-none d-sm-block"><a href="#">2</a></li>
            <li class="d-none d-sm-block"><a href="#">3</a></li>
            <li><a href="#" class="dot">...</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#" class="active">Next <i class="fa-solid fa-angle-right ms-2"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}