<div
	class="blog-details__item-inner">

	{# Image principale #}
	{% if blog.picture %}
		<div class="blog-details__thumb">
			<div class="blog-details__thumb-inner" data-aos="fade-up" data-aos-duration="800">
				<img src="{{ asset(blog.picturePath) }}" alt="{{ blog.title }}">
			</div>
		</div>
	{% endif %}

	{# Contenu principal #}
	<div class="blog-details__content">
		<h3>{{ blog.title }}</h3>

		<div class="blog-details__meta">
			<ul>
				<li>
					<img src="{{ asset('assets/images/blog/icon/1.png') }}" alt="author">
					{{ blog.author ? blog.author.getFullName() : 'Unknown Author' }}
				</li>
				<li>
					<img src="{{ asset('assets/images/blog/icon/2.png') }}" alt="date">
					{{ blog.createdAt|date('F j, Y') }}
				</li>
				<li>
					<img src="{{ asset('assets/images/blog/icon/3.png') }}" alt="comments">
					{{ blog.comments|length }}
					Comment{{ blog.comments|length > 1 ? 's' : '' }}
				</li>
			</ul>
		</div>

		<p class="mb-0">{{ blog.description|nl2br }}</p>
	</div>

	<div class="blog-details__content-bottom mt-4" data-aos="fade-up" data-aos-duration="1000">
		<div
			class="blog-details__action-inner d-flex justify-content-between align-items-center flex-wrap border-top border-bottom py-3">

			{# TAGS #}
			<div class="blog-details__tag">
				<div class="tags tags--style2 d-flex align-items-center gap-2">
					<h6 class="mb-0 me-2">Tags:</h6>
					<ul class="d-flex flex-wrap gap-2 mb-0 ps-0">
						{% for tag in blog.tags|split(',') %}
							<li>
								<a href="#" class="active">{{ tag|trim }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			{# SOCIAL SHARE #}
			<div class="blog-details__social">
				<ul class="social d-flex align-items-center gap-2 mb-0">
					<li>
						<h6 class="mb-0 me-2">Share:</h6>
					</li>
					<li>
						<a href="#" class="social__link social__link--style2 active">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social__link social__link--style2">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social__link social__link--style2">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social__link social__link--style2">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


	{# Commentaires #}
	<div class="blog-details__comment mt-5">
		<h3>{{ blog.comments|length }}
			Comment{{ blog.comments|length > 1 ? 's' : '' }}</h3>
		<ul>
			{% for comment in blog.comments %}
				<li class="sidebar__comment-item">
					<div class="comment">
						<div class="comment__inner">
							<div class="comment__head">
								<div class="comment__author">
									<div class="comment__author-thumb">
										<img src="{{ asset(comment.user ? comment.user.getPicture : 'assets/images/blog/default-user.png') }}" alt="author" class="rounded-circle" width="40" height="40">
									</div>
									<div class="comment__author-info">
										<h6 class="mb-0">
											{{ comment.user ? comment.user.fullName : comment.authorName }}
										</h6>
										<span>{{ comment.createdAt|date('F j, Y H:i') }}</span>
									</div>
								</div>
							</div>
							<div class="comment__body">
								<div class="comment__body-inner">
									<p class="mb-0">{{ comment.content|nl2br }}</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			{% else %}
				<li>
					<p>No comments yet.</p>
				</li>
			{% endfor %}
		</ul>
	</div>

	{# Formulaire #}
	<div class="sidebar__commentform-body pt-25">
		{{ form_start(commentForm) }}
		<div class="row g-4">
			{% if not app.user %}
				<div class="col-md-6">
					{{ form_row(commentForm.authorName) }}
				</div>
				<div class="col-md-6">
					{{ form_row(commentForm.email) }}
				</div>
			{% else %}
				<div class="col-md-12 d-flex align-items-center gap-3 mb-3 bg-light p-3 rounded">
					<img src="{{ asset(app.user.getPicture) }}" alt="user" class="rounded-circle" width="40" height="40">
					<div>
						<strong class="text-dark">{{ app.user.fullName }}</strong><br>
						<small class="text-muted">{{ app.user.email }}</small>
					</div>
				</div>
			{% endif %}

			<div class="col-md-12">
				{{ form_row(commentForm.content) }}
			</div>

			<div class="col-md-12">
				<button type="submit" class="trk-btn trk-btn--border trk-btn--primary mt-4">Send message</button>
			</div>
		</div>
		{{ form_end(commentForm) }}
	</div>

</div>
