{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bitrader{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="preloader">
        <img src="{{ asset('assets/images/logo/preloader.png') }}" alt="preloader icon">
    </div>

    <div class="lightdark-switch">
        <span class="dark-btn" id="btnSwitch">
            <img src="{{ asset('assets/images/icon/moon.svg') }}" alt="light-dark-switchbtn" class="swtich-icon">
        </span>
    </div>

    <header class="header-section bg-color-3">
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="{{ path('app_home') }}">
                            <img class="dark" src="{{ asset('assets/images/logo/logo.png') }}" alt="logo">
                        </a>
                    </div>
                    {% include 'partials/_header.html.twig' %}
                    <div class="header-action">
                        <div class="menu-area">
                            <div class="header-btn">
                                <a href="{{ path('app_register') }}" class="trk-btn trk-btn--border trk-btn--primary">
                                    <span>Join Now</span>
                                </a>
                            </div>
                            <div class="header-bar d-lg-none home1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}

    <a href="#" class="scrollToTop scrollToTop--home1">
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </a>

    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/all.min.js') }}"></script>
    <script src="{{ asset('assets/js/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/aos.js') }}"></script>
    <script src="{{ asset('assets/js/fslightbox.js') }}"></script>
    <script src="{{ asset('assets/js/purecounter_vanilla.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>

</html>
